In [1]:
# Nos conectamos a nuestro conjunto de datos

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
%matplotlib inline

cm = plt.cm.RdBu
cm_bright = ListedColormap(['#FF0000', '#0000FF'])

In [12]:
# Abrimos nuestro dataset de train para prepararlo
df_train = pd.read_csv('./drive/MyDrive/deep-learning-rogelio/train_data.csv', sep=';', decimal='.')
df_train.head()

,Host Listings Count,Host Total Listings Count,Accommodates,Bathrooms,Bedrooms,Beds,Price,Weekly Price,Monthly Price,Security Deposit,...,Extra People,Availability 365,Review Scores Rating,Review Scores Accuracy,Review Scores Cleanliness,Review Scores Location,Calculated host listings count,Host Since in Days,Entire home/apt,Private room
0,2.0,2.0,2.0,1.0,1.0,1.0,23.0,131.0,592.0,120.0,...,10.0,72.0,93.0,9.0,9.0,9.0,2.0,153.0,0.0,1.0
1,9.0,9.0,2.0,2.0,1.0,1.0,30.0,232.0,659.0,111.0,...,0.0,91.0,91.0,10.0,9.0,10.0,9.0,2028.0,0.0,1.0
2,1.0,1.0,2.0,1.0,1.0,1.0,33.0,185.0,740.0,111.0,...,0.0,248.0,98.0,10.0,10.0,10.0,1.0,1367.0,0.0,1.0
3,1.0,1.0,8.0,3.5,4.0,6.0,180.0,591.8,3272.0,276.0,...,0.0,18.0,91.0,9.0,9.0,9.0,1.0,1099.0,1.0,0.0
4,1.0,1.0,2.0,1.0,1.0,2.0,27.0,134.0,522.6,122.0,...,19.0,311.0,84.0,8.0,9.0,9.0,1.0,272.0,0.0,1.0

In [14]:
# Vamos a abrir las imágenes
trainImagesX = np.load("./drive/MyDrive/deep-learning-rogelio/trainImagesX.npy")
# Ok porque la reconstruiccion nos dejo sin una fila con valores vamos a mochar una de este
trainImagesX.shape

(750, 224, 224, 3)

# Aqui nos quedamos

In [5]:
# dividimos train integrando la validación
from sklearn.model_selection import train_test_split

Y_train = df_train['Price'].values
X_train = df_train.drop(['Price'], axis=1).values
# split = train_test_split(data_transform, images, test_size=0.25, random_state=42)
X_train, X_val, Y_train, Y_val = train_test_split(X_train, Y_train, test_size=0.15, random_state=42)

In [9]:
from sklearn import preprocessing
scaler = preprocessing.StandardScaler().fit(X_train)
XtrainScaled = scaler.transform(X_train)
XvalScaled  = scaler.transform(X_val)